#parent{
    width: 40%;
    height: 450px;
    border: 1px solid green;
    border-radius: 10px;
    margin: auto;
    text-align: center;

    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;;
}

input{
    padding: 10px;
    width: 95%;
    margin-top: 30px;
}

#btn{
    margin-top: 40px;
    width: 50%;
    padding: 10px;
    cursor: pointer;
    background-color: beige;
    font-size: 20px;
    font-weight: 600;
}

#btn:hover{
    background-color: cornflowerblue;
    font-size: 16px;
    font-weight: 500;
    color: brown;
}

input:focus{
    background-color: aqua;
}